node_modules/
dist/
.env
*.log
.DS_Store
.vscode/
.idea/
*.tmp
*.temp
*.sqlite
*.db
media/downloads/*
media/uploads/*
media/temp/*
!media/downloads/.gitkeep
!media/uploads/.gitkeep
!media/temp/.gitkeep